body{
    margin: 0;
    padding: 0;
    background-color: rgba(21, 22, 26, 1);
}


.cercle{
    width: 38px;
    height: 38px;
    background-color: rgba(21, 22, 26, 1);
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.left{
     align-items: center;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 17rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    gap: 4px;
    padding-top: 3px;
}
.head1{
   display: flex
;
    gap: 7rem;
    padding: 2rem;
    background-color: rgba(21, 22, 26, 1);
    color: rgba(255, 255, 255, 1);
}
.project.p2,.project.p3{
       opacity: 0.5;
    width: 7rem;
    height: 2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
.project.p1{
opacity: 0.9;
width: 7rem;
    height: 2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
.project h1 {
        padding: 0;
    margin: 0;
        font-size: small;
}
.textright p{
        opacity: 0.5;
}

/*sec2*/
.rec{
    width: 54rem;
    height: 22rem;
    display: flex
;
    justify-self: center;
    padding: 3rem;
    background: linear-gradient(-29deg, #3F51D7, rgb(8 34 34), #3F51AC);
    text-shadow: 0 0 black;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 2rem;
}
.sec2{

          padding: 4rem;
    background-color: rgba(21, 22, 26, 1);
}
.txt{
        display: flex;
    align-items: center;
    flex-direction: column;
}


.pfleche{
        display: flex
;
    font-size: small;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 0.5;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    background-color: #4b4141;
    box-shadow: black;
    color: white;
}
.pfleche:hover{
    box-shadow: #4b4141;
}
.rectangle1{
       width: 321px;
    height: 631px;
    border-radius: 43px;
    background-color: grey;
    opacity: 0.4;
    
}
.rectangle2{
           width: 321px;
        height: 631px;
    border-radius: 43px;
    background-color: grey;
    opacity: 0.4;
    position: absolute;
    left: 12rem;
    top: 65rem;
}
.leftt{
    display: flex;
}

.sec3{
    display: flex;
        padding: 2rem;
    gap: 17rem;
    color: rgba(255, 255, 255, 0.6);
}
.h22{
    font-weight: 600;
    font-size: larger;
}
.sec3 .h22{
        font-weight: 600;
    font-size: -webkit-xxx-large;
    color: aliceblue;
}
.topright{
    display: flex;
}


.sec4{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(4deg);
        margin-top: -4rem;
}
.rectt{
      background-color: rgba(61, 107, 244, 0.1);
    width: 59rem;
    height: 33rem;
    justify-content: center;
    align-items: center;
    transform: rotate(-5deg);
    justify-self: center;
    margin-top: 9rem;
    display: flex
;
    border-radius: 45% 0% 52% 10%;

}
.shadow{
       width: 55rem;
    height: 30rem;
    background-color: grey;
    opacity: 0.3;
    margin-left: 1rem;
    border-radius: 27px;
    margin-top: 10px;
    border: 2px solid #e0bcbc;
}
.texto p{
        font-size: 13px;

}

.add{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 55rem;
    height: 2rem;
    margin-left: 10rem;
}
.grey{
    display: flex
;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #242222;
    width: 58rem;
    height: 37rem;
    border-radius: 25px;
    margin-top: -5rem;
}

.bzf{
        width: 8rem;
    height: 14rem;
    background-color: grey;
    border-radius: 25px;
        opacity: 0.5;
}
.rects{
        width: 7rem;
    display: flex
;
    flex-direction: column;
    align-items: center;
    margin-left: 21rem;
    transform: rotate(-23deg);
}
.deux{
    display: flex
;
    justify-content: space-between;
    gap: 9.3rem;
    margin-top: -10rem;
}
.trois{
    display: flex
;
    justify-content: space-between;
    gap: 9.3rem;
    margin-top: -2.7rem;
}

.fin
{
    margin-top: -2.7rem;
}
.sec5{
    color: aliceblue;
}

.top{
    display: flex;
    justify-self: end;
        display: flex
;
    justify-self: end;
    flex-direction: column;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .head1 {
        flex-direction: column;
    }
    .left{
               flex-direction: initial;
               gap: 5px;

    }
    .line
    {
        display: none;
    }
    .head1{
        gap: 0;
    }
    .textright{
    margin-top: 0;
    }
    .left{
        height: 3rem;
    width: 17rem;
                  background-color: #1a1919;
            align-items: center;
            justify-content: center;
    }
    .project.p3{
        justify-self: center;
        align-items: center;
                margin-top: 1rem;
    }
    .rec{
        width: 17rem;
    height: 10rem;
    
    }
    .rectangle1,.rectangle2{width: 178px;
    height: 21rem;}
    .rectangle2{
            margin-top: 5rem;
    }
    .sec3{
        flex-direction: column;
            gap: 7rem;
    }
    .rectt{
            width: 25rem;
    height: 16rem;
    margin-top: 1rem;
    }
    .shadow{
        width: 22rem;
    height: 11rem;
    }
    .grey{
            width: 23rem;
    height: 18rem;
    margin-left: -3rem;
    }
    .add{
        margin-left: 34rem;
    }
    .sec5{    margin-left: 2rem;
    width: 23rem;}
    .bzf{
            width: 4rem;
    height: 7rem;
    }
    .trois{
        gap: 4.3rem;
    }
    .deux{
            gap: 4.3rem;
            margin-top: -4rem;
    }
    .rects{
            margin-left: 7rem;
    margin-top: 1rem;
    }
    .add{
                   width: 13rem;
                   margin-left: 0;
    }
.right{
    margin-top: 5rem;
}
.sec4{
    margin-left: 2rem;
}
.grey{
        margin-top: -4rem;
}
}
