body{
    margin: 0;
    padding: 0;
    background-color: rgba(21, 22, 26, 1);
}


.cercle{
    width: 38px;
    height: 38px;
    background-color: rgba(21, 22, 26, 1);
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.left{
     align-items: center;
    display: flex
;
    flex-direction: column;
    width: 3rem;
    height: 17rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    gap: 4px;
    padding-top: 3px;
}
.head1{
   display: flex
;
    gap: 7rem;
    padding: 2rem;
    background-color: rgba(21, 22, 26, 1);
    color: rgba(255, 255, 255, 1);
}
.project.p2,.project.p3{
       opacity: 0.5;
    width: 7rem;
    height: 2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
.project.p1{
opacity: 0.9;
width: 7rem;
    height: 2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
.project h1 {
        padding: 0;
    margin: 0;
        font-size: small;
}
.textright p{
        opacity: 0.5;
}

/*sec2*/
.rec{
    width: 54rem;
    height: 22rem;
    display: flex
;
    justify-self: center;
    padding: 3rem;
    background: linear-gradient(-29deg, #3F51D7, rgb(8 34 34), #3F51AC);
    text-shadow: 0 0 black;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 2rem;
}
.sec2{

          padding: 4rem;
    background-color: rgba(21, 22, 26, 1);
}
.txt{
        display: flex;
    align-items: center;
    flex-direction: column;
}


.pfleche{
        display: flex
;
    font-size: small;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 0.5;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    background-color: #4b4141;
    box-shadow: black;
    color: white;
}
.pfleche:hover{
    box-shadow: #4b4141;
}
.rectangle1{
       width: 321px;
    height: 631px;
    border-radius: 43px;
    background-color: grey;
    opacity: 0.4;
    
}
.rectangle2{
           width: 321px;
        height: 631px;
    border-radius: 43px;
    background-color: grey;
    opacity: 0.4;
    position: absolute;
    left: 12rem;
    top: 65rem;
}
.leftt{
    display: flex;
}

.sec3{
    display: flex;
        padding: 2rem;
    gap: 17rem;
    color: rgba(255, 255, 255, 0.6);
}
.h22{
    font-weight: 600;
    font-size: larger;
}
.sec3 .h22{
        font-weight: 600;
    font-size: -webkit-xxx-large;
    color: aliceblue;
}
.topright{
    display: flex;
}